<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <title>Top Tracks</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Top Tracks</h1>
            <div class="row">
                {% for track in tracks %}
                    <div class="col-md-4">
                        <ul>
                            <li>{{ track.track_number }}. {{ track.track_name }} - {{ track.artist_name }}</li>
                            <img src="{{ track.album_art }}" alt="Album Art" width="100" height="100">
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Include Bootstrap JS and dependencies -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html> -->



<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Top Tracks</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body {
                background-color: #bbacdc;
            }
            .container {
                background-color: #bbacdc;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Top Tracks</h1>
            <div class="row">
                {% for track in tracks %}
                    <div class="col-md-4">
                        <ul>
                            <li>{{ track.track_number }}. {{ track.track_name }} - {{ track.artist_name }}</li>
                            <img src="{{ track.album_art }}" alt="Album Art" width="100" height="100">
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Include Bootstrap JS and dependencies -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
